In [1]:
import pandas as pd

In [2]:
df = pd.read_json('final_dataset.json')
df.to_csv('final_dataset.csv')

df = pd.read_csv('final_dataset.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118714 entries, 0 to 118713
Data columns (total 33 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         118714 non-null  int64
 1   Url                118714 non-null  object
 2   BathroomCount      109112 non-null  float64
 3   BedroomCount       118714 non-null  int64
 4   ConstructionYear   68898 non-null   float64
 5   Country            118714 non-null  object
 6   District           118707 non-null  object
 7   Fireplace          4123 non-null    float64
 8   FloodingZone       58342 non-null   object
 9   Furnished          30325 non-null   float64
 10  Garden             22503 non-null   float64
 11  GardenArea         22503 non-null   float64
 12  Kitchen            67134 non-null   object
 13  LivingArea         104539 non-null  float64
 14  Locality           118709 non-null  object
 15  MonthlyCharges     13650 non-null   float64
 16  NumberOfFacades    76942 non-null   float64
 17  PEB                85074 non-null   object
 18  PostalCode         118714 non-null  int64
 19  Price              118714 non-null  int64
 20  PropertyId         118714 non-null  int64
 21  Province           118707 non-null  object
 22  Region             118707 non-null  object
 23  RoomCount          32916 non-null   float64
 24  ShowerCount        57127 non-null   float64
 25  StateOfBuilding    81622 non-null   object
 26  SubtypeOfProperty  118714 non-null  object
 27  SurfaceOfPlot      58237 non-null   float64
 28  SwimmingPool       40358 non-null   float64
 29  Terrace            68344 non-null   float64
 30  ToiletCount        96441 non-null   float64
 31  TypeOfProperty     118714 non-null  int64
 32  TypeOfSale         118714 non-null  object
dtypes: float64(15), int64(6), object(12)
memory usage: 29.9+ MB

In [4]:
df["District"].unique()

array(['Brugge', 'Tournai', 'Veurne', 'Hasselt', 'Brussels', 'Nivelles',
       'Mechelen', 'Halle-Vilvoorde', 'Sint-Niklaas', 'Oostend',
       'Antwerp', 'Ieper', 'Mons', 'Namur', 'Philippeville', 'Soignies',
       'Leuven', 'Charleroi', 'Liège', 'Maaseik', 'Verviers', 'Aalst',
       'Tongeren', 'Marche-en-Famenne', 'Kortrijk', 'Gent', 'Eeklo',
       'Diksmuide', 'Dendermonde', 'Waremme', 'Huy', 'Oudenaarde',
       'Dinant', 'Neufchâteau', 'Mouscron', 'Tielt', 'Roeselare',
       'Turnhout', 'Thuin', 'Arlon', 'Virton', 'Ath', 'Bastogne', nan],
      dtype=object)

In [5]:
df["Province"].unique()

array(['West Flanders', 'Hainaut', 'Limburg', 'Brussels',
       'Walloon Brabant', 'Antwerp', 'Flemish Brabant', 'East Flanders',
       'Namur', 'Liège', 'Luxembourg', nan], dtype=object)

In [6]:
df["Region"].unique()

array(['Flanders', 'Wallonie', 'Brussels', nan], dtype=object)

In [8]:
df["PostalCode"].unique()

array([8380, 7500, 8370, ..., 6831, 4161, 6834])